<% provide(:title, @user.name) %>
<div class="row">
	<div class="div" style='float:left'>
		<aside class="span4" style='float:none'>
			<section>
				<%= render 'shared/user_info', user: @user %>
			</section>
		</aside>
		<aside class="span4" style=''>
		<!-- 		<h3>user actions</h3>
			<% for item in user_actions @user  %>
				<div class="newsfeeds">
					<%#= render 'shared/news_feed_item', item: item %>
				</div>
			<% end %>
		 -->		<!-- <h3>user action passive</h3>
			<% for item in user_actions_passive @user  %>
			<div class="newsfeeds">
				<% if item != nil %>
				<%#= render 'shared/news_feed_item', item: item %>

				<% end %>
			</div>
			<% end %> -->

			<%= render 'layouts/newsfeed' %>

		</aside>
		</div><div class="span8">
		<% if @user.microposts.any? %>
			<h3>@<%= @user.nickname %> (<%= @user.microposts.count %>)</h3>
			<%= render partial: 'shared/feed' %>
		<% end %>
	</div>
</div>
