<li id="<%= feed_item.id %>">
   <%= link_to image_tag(feed_item.user.image ,:size => "36x36"), feed_item.user.nickname %>
    <span class="user">
      <%= link_to feed_item.user.name+' ( @'+feed_item.user.nickname+' )' , feed_item.user.nickname %>
    </span>
    <br>
    <div class="contentWrapper">
      <span class="content"><%= link_to feed_item.content, feed_item %></span>
      <% if feed_item.detail? %>
        <span>(詳細文あり)</span>
      <% end %>
    </div>
    <%= render partial: 'shared/responses', locals: { feed_item: feed_item } %>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
  </li>