<li id="<%= micropost.id %>">
	<div class="contentWrapper">
		<span class="content"><%= link_to micropost.content, micropost %></span>
		<% if current_user?(micropost.user) %>
		<%= link_to "delete", micropost, method: :delete, data: { confirm: "You sure?" }, title: micropost.content, :class => 'delete_button' %>
    <!-- 一緒にやりたい人がいる場合 -->
    <div class="staredInfo">
      <% if micropost.stars.length > 0 %>
        <br>
        <p style='float: left;'>一緒にやりたい！:
          <span class='starsNum'><%= micropost.stars.length %></span>人
        </p>
        <% micropost.stars.each do |s| %>
          <%= link_to image_tag(s.user.image ,:size => "22x22"), s.user %>
        <% end %>
      <% end %>
    </div>
    <!-- 興味ある人がいる場合 -->
    <% if micropost.interests.length > 0 %>
    <br>
    <div class="interestedInfo">
      <p style='float: left;'>興味ある！:
      <span class='interestsNum'><%= micropost.interests.length %></span>人
         </p>
      <% micropost.interests.each do |s| %>
        <%= link_to image_tag(s.user.image ,:size => "22x22"), s.user %>
        <% end %>
      </div>
    <% end %>
  <% else %>
  <div class='stars'>
    <%= form_tag({:controller => 'star', :action => 'toggle_star'}, {:name => 'toggle_star', :remote => true, :class => 'star_button'}) do %>
      <input type="hidden" value="<%= micropost.id %>" name="micropost_id">
      <%= submit_tag "一緒にやりたい！", {:class => 'star_submit' } %>
    <% end %>
    <div class='starInfo'>
      <span class='starsNum'><%= micropost.stars.length %></span>人
      <% micropost.stars.each do |s| %>
        <%= link_to image_tag(s.user.image ,:size => "22x22"), s.user %>
          <% if s.user == current_user %>
            <script>
              $('#'+<%= micropost.id %>).children().children('.stars').children('form').children('input').addClass('already')
            </script>
          <% end %>
      <% end %>
    </div>
  </div>
    <!-- 興味ある！ -->
    <br>
    <div class='interests'>
      <%= form_tag({:controller => 'interest', :action => 'toggle_interest'}, {:name => 'toggle_interest', :remote => true, :class => 'interest_button'}) do %>
      <input type="hidden" value="<%= micropost.id %>" name="micropost_id">
      <%= submit_tag "興味ある！" %>
      <% end %>
      <div class='interestInfo'>
        <span class='interestsNum'><%= micropost.interests.length %></span>人
        <% micropost.interests.each do |s| %>
        <%= link_to image_tag(s.user.image ,:size => "22x22"), s.user %>
        <% if s.user == current_user %>
            <script>
              $('#'+<%= micropost.id %>).children().children('.interests').children('form').children('input').addClass('already')
            </script>
          <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
			<span class="timestamp">
				Posted <%= time_ago_in_words(micropost.created_at) %> ago.
			</span>
	</div>
	<% if current_user?(micropost.user) %>
	<%= link_to "delete", micropost, method: :delete,
	data: { confirm: "You sure?" },
	title: micropost.content %>
	<% end %>
</li>


