<% provide(:title, @micropost.content) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				id: <%= @micropost.id %> <br>
				<%= link_to showProfImage @micropost.user%>
				<%#= @micropost.created_at %> <br>
				<%= @micropost.content %>
				<%#= @user.email %>
			</h1>
		</section>
		<hr>
		<%= render 'layouts/newsfeed' %>

	</aside>
	<div class="span8">
		<% if @micropost.detail? %>
			<div class='detail'>
				<span>詳細: </span>
				<p><%= simple_format @micropost.detail %></p>
			</div>
		<% end %>
			<br>

			<div class="responses">
				<div class="stars">
					<% if current_user == @micropost.user %>
						一緒にやりたい！:
					<% else %>
					<%= form_tag({:controller => 'star', :action => 'toggle_star'}, {:name => 'toggle_star', :remote => true}) do %>
					<input type="hidden" value="<%= @micropost.id %>" name="micropost_id">

					<%= submit_tag "一緒にやりたい！" , {:class => 'star_submit'} %>
					<% end %>

					<% end %>
					<span id="starsNum"><%= @micropost.stars.length %></span>
					<% @micropost.stars.each do |s| %>
						<%= link_to image_tag(s.user.image ,:size => "22x22"), s.user %>
						<% if s.user == current_user %>
							<script>
								$('.star_submit').addClass('already')
							</script>
						<% end %>
					<% end %>
				</div>
<br>

		<div class="interests">
			<% if current_user == @micropost.user %>
				興味ある！:
			<% else %>
				<%= form_tag({:controller => 'interest', :action => 'toggle_interest'}, {:name => 'toggle_interest', :remote => true}) do %>
				<input type="hidden" value="<%= @micropost.id %>" name="micropost_id">
				<!-- <span class="js-toggle_interest" data-num="<%= @micropost.id %>">スターボタン</span> -->
				<%= submit_tag "興味ある！", {:class => 'interest_submit'}  %>
				<% end %>
			<% end %>
			<span id="interestsNum"><%= @micropost.interests.length %></span>
			<% @micropost.interests.each do |s| %>
			        <%= link_to image_tag(s.user.image ,:size => "22x22"), s.user %>
			        <% if s.user == current_user %>
				        <script>
					        $('.interest_submit').addClass('already')
				        </script>
			        <% end %>
			<% end %>
		</div>
			</div>


		<script>

		console.log("<%= current_user.name %>")
		current_userID = <%= current_user.id %>;
		// ふぁぼ欄に追加or削除
		// $(favo欄).prepend(hoge)

		jQuery.each(['star','interest'], function (i,val) {
			$("form[name=\"toggle_"+val+"\"]")
			// .bind("ajax:loading", function(xhr){alert('loading')})
			.bind("ajax:success", function(data, status, xhr){
				if(status.action == 'add'){
					var imgURL = "<%= current_user.image %>"
					var imgDOM = "<a href=/users/"+current_userID+"><img src="+imgURL+" alt='' width='22' /></a> "
					$("."+val+"s").append(imgDOM);

					// 数字インクリメント
						var num = $('#'+val+'sNum').html();
						$('#'+val+'sNum').html(parseInt(num)+1)

						$('.'+val+'_submit').addClass('already')


				}else if (status.action == 'remove') {
					$("."+val+"s").find("a[href=\"/users/"+current_userID+"\"]").remove()
					// 数字デクリメント
						var num = $('#'+val+'sNum').html();
						$('#'+val+'sNum').html(parseInt(num)-1)

						$('.'+val+'_submit').removeClass('already')

				};
			})
		});


		var exp = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;

		$('.detail').html($('.detail').html().replace(exp,"<a href='$1'>$1</a>"));

		// .bind("ajax:complete", function(xhr){
			// alert('complete');console.log(xhr)

		// })
		// .bind("ajax:failure", function(xhr){alert('failure')});
		</script>


		<ol class="comments">
			<h5>こめんと</h5>
			<%= render @comments %>
		</ol>
		<%= will_paginate @comments %>
	<section>
		<%= render 'shared/comment_form' %>
	</section>
	</div>
</div>