<% provide(:title, @micropost.content) %>
<div class="row">
	<aside class="span4">
		<%= render 'layouts/newsfeed' %>
	</aside>
	<div class="span8">
		<h1>
			<%= render 'shared/user_info', user: @micropost.user %>
		</h1>
		<h1 style='display: inline;'><%= @micropost.content %></h1>
		<% if current_user == @micropost.user %>
			<%= link_to "d", @micropost, method: :delete, data: { confirm: '本当に消してしまうん？' }, title: @micropost.content, class:"common_icons", style:"z-index:10" %>
		<% end %>
		<span class="timestamp">Posted <%= time_ago_in_words(@micropost.created_at) %> ago.</span>


		<% if @micropost.detail? %>
			<div class='detail'>
				<span>詳細: </span>
				<p><%= simple_format @micropost.detail %></p>
			</div>
		<% end %>
			<%= render partial: 'shared/responses', locals: { feed_item: @micropost } %>

		<script>

		console.log("<%= current_user.name %>")
		current_userID = <%= current_user.id %>;
		// ふぁぼ欄に追加or削除
		// $(favo欄).prepend(hoge)

		jQuery.each(['star','interest'], function (i,val) {
			$("form[name=\"toggle_"+val+"\"]")
			// .bind("ajax:loading", function(xhr){alert('loading')})
			.bind("ajax:success", function(data, status, xhr){
				if(status.action == 'add'){
					var imgURL = "<%= current_user.image %>"
					var imgDOM = "<a href=/users/"+current_userID+"><img src="+imgURL+" alt='' width='22' /></a> "
					$("."+val+"s").append(imgDOM);

					// 数字インクリメント
						var num = $('#'+val+'sNum').html();
						$('#'+val+'sNum').html(parseInt(num)+1)

						$('.'+val+'_submit').addClass('already')


				}else if (status.action == 'remove') {
					$("."+val+"s").find("a[href=\"/users/"+current_userID+"\"]").remove()
					// 数字デクリメント
						var num = $('#'+val+'sNum').html();
						$('#'+val+'sNum').html(parseInt(num)-1)

						$('.'+val+'_submit').removeClass('already')

				};
			})
		});


		var exp = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;

		if ($('.detail').html() != undefined)
			$('.detail').html($('.detail').html().replace(exp,"<a href='$1'>$1</a>"));

		// .bind("ajax:complete", function(xhr){
			// alert('complete');console.log(xhr)

		// })
		// .bind("ajax:failure", function(xhr){alert('failure')});
		</script>

		<div class="comments">
			<h5>Comments<span class="common_icons">h</span></h5>
			<ol>
				<%= render @comments %>
			</ol>
			</div>
		<%= will_paginate @comments %>
	<section>
		<%= render 'shared/comment_form' %>
	</section>
	</div>
</div>