<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", root_path, id: "logo" %>

      <%= user_notifications current_user %>

      <%= form_tag({:controller => 'users', :action => 'check_notification'}, {:name => 'check_notification', :remote => true}) do %>
          <input type="hidden" value="1" name="micropost_id">
          <%= submit_tag "notification" , {:class => 'notification'} %>
      <% end %>
      <script>
      $("form[name='check_notification']")
      // .bind("ajax:loading", function(xhr){alert('loading')})
      .bind("ajax:success", function(data, status, xhr){
        alert('you checked notifications.'+Date())
      })
      </script>

      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <% if signed_in? %>
            <li><%= link_to "Users", users_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <!-- <li><%#= link_to "Settings", edit_user_path(current_user) %></li> -->
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", '/auth/twitter' %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>