<div class="modal" id="myModal">
  <div class="modal-header">
    <a class="close closeBtn" data-dismiss="modal">×</a>
    <h3>Notifications</h3>
  </div>
  <div class="modal-body">
    <%= for item in (user_notifications current_user) do %>
      <%= item %> <br>
    <% end %>
  </div>
  <div class="modal-footer">
    <a href="" class="btn closeBtn" >Close</a>
  </div>
</div>
<script>
$('.modal').hide()
$('.closeBtn').click(function(){
  $('.modal').hide()
})
</script>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "honey circle", root_path, id: "logo" %>

      <%#= user_notifications current_user %>


      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
          <li>
            <%= form_tag({:controller => 'users', :action => 'check_notification'}, {:name => 'check_notification', :remote => true}) do %>
              <input type="hidden" value="1" name="micropost_id">
              <%= submit_tag (user_notifications current_user).length , {:class => 'notification dropdown-toggle'} %>
            <% end %>
          </li>
          <script>
if("<%= (user_notifications current_user).length %>" == 0)
        // $('.notification').css({'background':'rgb(255, 213, 103)'})
        $('.notification').css({'background':'white','color':'transparent'}).remove()
      $("form[name='check_notification']")
      .bind("ajax:success", function(data, status, xhr){
        // alert('you checked notifications.'+Date())
        $('.notification').css({'background':'#fff'}).attr('value',0)
        $('.modal').show()
      })
</script>
          <% end %>
          <!-- <li><%= link_to "Home", root_path %></li> -->
          <li><%= link_to "About", about_path %></li>
          <% if signed_in? %>
            <li><%= link_to "Users", users_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <!-- <li><%#= link_to "Settings", edit_user_path(current_user) %></li> -->
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", '/auth/twitter' %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
